div.kagi-summary { margin-top: 1em; }
div.kagi-summary blockquote { margin-top: 1em; }
div.kagi-summary a { font-size: 0.8em; }
div.kagi-summary.kagi-loading a { opacity: 0.5; }
div.kagi-summary.kagi-loading a:hover { color: inherit; background-color: inherit; }
div.kagi-summary.kagi-loading a:active { color: inherit; background-color: inherit; }
div.kagi-summary .hidden { display: none; }
